<h1>Kullanıcılar</h1>
<hr>

<div class="container">
<table class="table table-hover">
    <thead>
        <tr>
        <th>#</th>
        <th>ID</th>
        <th>Title</th>
        </tr>
    
    <tbody>

    <%for(var i=0;i<kullanicilar.length;i++){%>
        <tr>
        <th><img src="<%=kullanicilar[i].imgURL%>"></th>
        <th><%=kullanicilar[i].id%></th>
        <th><%=kullanicilar[i].title%></th>
        <th><a href="/yemektarifleri/albumsdelete/<%=kullanicilar[i].id%>">Sil</a></th>
        </tr>
    <%}%>   

    <thead>

    </tbody>
    </thead>
</table>
</div>