<div class="container">
    <div class="row">

    <div id="logreg-forms">
        <form action="/signup" method="POST">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign In</h1>
        
            <input name="name" type="text" id="name" class="form-control" placeholder="isim" required="" autofocus="">
            <input name="surname" type="text" id="surname" class="form-control" placeholder="soy isim" required="">
            <input name="email" type="text" id="email" class="form-control" placeholder="e-mail" required="">
            <input name="username" type="text" id="username" class="form-control" placeholder="kullanıcı adı" required="">
            <input name="password" type="password" id="password" class="form-control" placeholder="şifre" required="">
            
            <input type="submit" class="btn btn-success" value="Kaydet">
            <!-- <a href=# type="submit" class="btn btn-success">Kayıt Ol</a> -->
            <a href="/login" type="submit" class="btn btn-primary">Giriş Yap</a>
            <hr>   
        </form>
            
    </div>

    </div>
</div>